@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

button.mercadopago-button, .confirma{
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
}

body {
    position: relative;
    min-height: 100%;
    height: 100vh;
}

.sec-carrinho {
    width: 1000px;
    margin-top: 100px;
    margin-left: 14vw;
    padding-bottom: 40px;
}

.tbl-carrinho {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

/* .td-qtde > button{
    width:38px;
    height: 38px;
    font-size:24px;
    margin:0 0 0 0;
    vertical-align: middle;
} 

input{
    border: none;
    outline: none;
    width: 50px;
    height: 30px;
    padding-left: 10px;
}*/

.td-qtde>input {
    vertical-align: middle;
}

thead {
    background-color: #0a3d6d;
    color: white;
}

tbody {
    padding-top: 10px;
    background-color: #ccc;
    border-bottom: 1px solid black;
}

tfoot{
    background-color: #0a3d6d;
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
}

.img-pedido {
    width: 100px;
    height: 100px;
    margin: 5px 5px 0px 5px;
}

.controle {
    width: 100%;
    height: 200px;
    padding-top: 20px;
}

.finaliza {
    /* float: right;
    margin-left: 190px; */
}

button,
button.btnComprar {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #0a3d6d;
    font-size: 18px;
    border-radius: 0.2857142857142857em;
    background-color: #0a3d6d;
    color: white;
}

#menos {
    width: 30px;
    height: 30px;
}

input {
    border: none;
    outline: none;
    width: 50px;
    height: 27px;
    padding-left: 5px;
}

#mais {
    width: 30px;
    height: 30px;
}

.mais {
    width: 230px;
}

.delete {
    width: 160px;
    margin-left: 10px;
}

.volta{
    height: 55px;
}

.voltar{
    width: 100%;
    display: flex;
}

select{
    width: 55vw;
    height: 40px;
    margin-bottom: 20px;
    border: 1.5px solid gray;
}

.confirma {
    width: 200px;
    margin-left: 10px;
}

#btn-comprar{
    margin-top: 15px;
}

main {
    min-height: 76.1vh;
    height: auto;
}

@media screen and (max-width: 500px) {
    body {
        height: 100%;
    }

    main{
        min-height: 66vh;
        height: auto;
    }

    .sec-carrinho {
        width: 93vw;
        margin-top: 100px;
        margin-left: 10px;
        padding-bottom: 220px;
    }

    .td-qtde>button {
        width: 32px;
        height: 32px;
        margin: 3px 0px;
    }

    .td-qtde>input {
        width: 25px;
        height: 25px;
        display: block;
        margin: auto;
    }

    .img-pedido {
        width: 90px;
        height: 90px;

    }

    .controle {
        width: 100%;
        padding-top: 20px;
        display: block;
        margin-left: 20vw;
    }

    .volta {
        margin-left: 0px;
    }


    .volta>a>button {
        margin: 5px -20vw;
        width: 93vw;
    }

    .controle>.volta>button {
        margin: 5px -20vw;
        width: 93vw;
    }

    button.btnComprar {
        padding: 0px;
        margin: 5px -20vw;
        width: 94vw;
    }

    td {
        font-size: 15px;
    }

    .finaliza {
        float: left;
        margin-left: 0;
    }

    .voltar{
        width: 100%;
        display: block;
    }

    select{
        width: 93vw;
        height: 40px;
        margin-left: -20vw;
        margin-bottom: 20px;
        border: 1.5px solid gray;
    }

}

@media (min-width: 501px) and (max-width: 1024px) {
    main {
        margin: 20px;
    }

    body {
        height: 100%;
    }

    .voltar{
        width: 100%;
        display: block;
    }

    select{
        width: 93vw;
        height: 40px;
        margin-left: -20vw;
        margin-bottom: 20px;
        border: 1.5px solid gray;
    }

    .sec-carrinho {
        width: 200px;
        margin-top: 100px;
        margin-left: 10px;
        padding-bottom: 140px;
    }

    .tbl-carrinho {
        width: 93vw;
        border-collapse: collapse;
        border-spacing: 0;
        text-align: center;
    }

    .td-qtde>button {
        width: 32px;
        height: 32px;
        margin: 3px 0px;
    }

    .td-qtde>input {
        width: 25px;
        height: 25px;
        display: block;
        margin: auto;
    }

    .img-pedido {
        width: 90px;
        height: 90px;

    }

    .controle {
        width: 100%;
        padding-top: 20px;
        display: block;
        margin-left: 20vw;
    }

    .volta {
        margin-left: 0px;
    }

    .volta>a>button {
        margin: 5px -20vw;
        width: 93vw;
    }

    .controle>.volta>button {
        margin: 5px -20vw;
        width: 93vw;
    }

    button.btnComprar{
        padding: 0px;
        margin: 5px -20vw;
        width: 93vw;
    }

    td {
        font-size: 15px;
    }

    .finaliza {
        float: left;
        margin-left: 0;
    }
}