@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.volta {
    float: right;
}

img {
    width: 35px;
    margin-right: 20px;
    margin-top: 20px;
}

main {
    width: 800px;
    height: 300px;
    display: flex;
    position: absolute;
    left: 50%;
    margin: -150px -400px;
    top: 50%;
}

aside {
    background: #ccc;
    padding: 50px;
    width: 60%;
}

.info-titulo {
    font-size: 22px;
}

aside p {
    color: lightgray;
    text-align: justify;
}

.desq {
    padding-top: 30px;
}

aside>button {
    background: #0a3d6d;
    border: none;
    height: 50px;
    width: 165px;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.section-log {
    text-align: center;
    width: 40%;
    background-color: #0a3d6d;
    padding-top: 40px;
}

.esp {
    margin-top: 50px;
    margin: 10px 5px 20px 5px;
    display: block;
}

span {
    display: block;
    font-family: sans-serif;
    margin-right: 10px;
    color: white;
}

.btnEnviar {
    background-color: #113858;
    width: 250px;
    padding: 15px;
    color: white;
    border: none;
    outline: none;
    font-weight: normal;
    font-size: 18px;
}

.btnEnviar:hover {
    opacity: .9;
    transition: 500ms;
    border: 0.5px solid white;
}

.inp-geral {
    background-color: #083550;
    width: 240px;
    border: none;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 5px;
    outline: none;
    text-align: center;
}

.inp-senha {
    background-color: #083550;
    width: 220px;
    border: none;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 5px;
    outline: none;
    text-align: center;
    padding-right: 20px;
}

.eye {
    position: absolute;
    background-color: #083550;
    width: 30px;
    margin-top: 5px;
    margin-left: -35px;

}

section label>input {
    height: 30px;
}

.Erro {
    position: absolute;
    bottom: 100px;
    left: 280px;
    width: 805px;
    height: 50px;
    text-align: center;
    background: #F0C0C0;
    border: 1.5px solid #900000;
}

.Erro>p {
    padding-top: 15px;
}

/*--------------------------------------------------------------------------------------------------------------*/

@media (min-width: 501px) and (max-width: 1024px) {
    img {
        width: 35px;
        margin-right: -25px;
        margin-top: 20px;
    }

    aside {
        width: 370px;
    }

    .section-log {
        width: 280px;
    }

    main {
        margin: -150px -350px;
        top: 50%;
    }

    .Erro {
        position: absolute;
        left: 35px;
        bottom: 290px;
        width: 745px;
        height: 50px;
        text-align: center;
        background: #F0C0C0;
        border: 1.5px solid #900000;
    }

    .Erro>p {
        padding-top: 15px;
    }
}

/*--------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 500px) {

    main {
        width: 300px;
        height: 300px;
        flex-direction: column;
        margin: -300px -150px;

    }

    aside {
        width: 270px;
        padding: 10px;
        text-align: center;
    }

    aside>button {
        margin: 10px;
        width: 179px;
    }

    aside>img,
    aside>p {
        display: none;
    }

    .section-log {
        padding: 30px 0px;
        width: 290px;
    }

    img {
        width: 30px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .Erro{
        position: absolute;
        bottom: -70px;
        left: 38px;
        width: 287px;
        height: 75px;
        text-align: center;
        background: #F0C0C0;
        border: 1.5px solid #900000;
    }
}