body{
    background: 000;
}

div{
    width: 40%;
    margin: auto;
    background: #DCDCDC;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 10px;
}

select{
    border-radius: 15px;
    padding: 10px;
    background: #19070B;
    color: #01DF3A
}

img{
    width: 500px;
    height: 200px;
    border-radius: 60px;
}

#div_cor_fundo_site{
    position: fixed;
    width: 140px;
}

form{
    text-align: left, justify;
    margin: auto;
}

