* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-size: 15px;
}

.navbar-nav {
    align-items: baseline;
    width: 66.66%;
}

.nav-link:hover {
    font-weight: 800;
}

header {
    background-color: #580e0e;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.menu {
    width: 100%;
    background-color: #580e0e;
    display: flex;
    padding: 10px 0;
    font-size: 12x;
    position: relative;
}

.menu li {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0 10px;

}

.menu li a:hover {
    color: #ffffff;
    text-decoration: none;
}

.nav-item.drop {
    position: relative;
}

.dropbtn {
    background-color: #580e0e;
    color: white;
    font-size: 15px;
    border: none;
    text-align: center;
}

.dropbtn:hover {
    font-weight: 700;
}

.dropdown {
    position: absolute;
    display: inline-block;
    text-align: center;
    bottom: -12px;
    left: -15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 50px;
    width: 200px;
    z-index: 1;
    background-color: #580e0e;
    padding: 12px 0;
}

.link-drop {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
}

.link-drop:hover {
    font-weight: 700;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
    float: left;
}

.registro {
    text-decoration: none;
    display: flex;
    color: white;
    font-weight: 600;
    align-items: center;
}

.registro img {
    margin-left: 12px;
}

header .container {
    position: relative;
}

.area-login {
    display: none;
    position: absolute;
    width: 250px;
    background-color: #580e0ee8;
    right: 0;
    top: 50px;
    padding: 15px;
    text-align: center;
    z-index: 9999;

}

.area-login.active {
    display: block;
}

.btn.branco {
    background-color: white;
    border: none;
    color: #580e0e !important;
    font-weight: bold;
    padding: 8px 25px;

}

.btn.branco:hover {
    background-color: #dedede;
}

.area-login p {
    margin: 18px 0 10px;
    color: white;
    text-align: center;
}

.cadastrar {
    color: white;

}

.cadastrar:hover {
    color: white;
}

.sec-banners {
    z-index: -99;
    padding-top: 50px;
}

.sec-banners img {
    max-height: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.267);
}

.sec-promocao {
    padding: 100px 0 0;
    min-height: 85vh;
    margin-bottom: 20px;
}

.sec-promocao.auto {
    padding: 30px 0;
    min-height: auto;
    margin-bottom: auto;
}

.sec-promocao h2 {
    color: #580e0e;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;

}

.bold {
    font-weight: bold;
}

/* .sec-promocao p {
    font-size: 10px;
    font-weight: bold;
} */

.bg-card {
    background-color: #dedede;
}

#breve {
    background-color: #dedede;
    padding: 20px 0 40px;
}

.sinopse {
    height: 85px;
    text-align: justify;
    font-size: 15px;

}

.menu-footer .nav-link:hover {
    color: white;
}

.botao {
    background-color: rgb(26, 26, 26);
    color: white;
    height: 35px;
    border: none;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 20px;
}

.newsletter {
    text-align: center;
    padding-bottom: 30px;

}

.inp-padrao {
    width: 100%;
    padding: 5px 8px;
    border-radius: 4px;
    height: 35px;
    border: 1px solid #dedede;
    color: #333;
    background-color: #f5f5f5;
    margin-bottom: 12px;
}

.inp-padrao.news {
    margin-top: 20px;
}

.lbl-padrao {
    font-weight: 500;
    color: #333;
    display: block;
    width: 100%;
}

.newsletter h2 {
    font-weight: bold;
    color: #580e0e;
    font-size: 25px;
}

.rodape {
    background-color: rgb(32, 32, 32);
}

.politica-uso {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.politica-uso .nav-link {
    padding: 12px;
}

.menu-footer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.logo-footer img {
    width: 150px;
}

.social {
    display: flex;
    justify-content: space-around;
    padding-top: 12px;

}

.copia {
    text-align: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 8px;
}

.copia p {
    font-size: 11px;
}

.sec-cadastro {
    padding: 100px 0;

}

.sec-cadastro h2 {
    font-weight: bold;
    text-align: center;
    color: #580e0e;


}

.btn {
    background-color: #333;
    color: white;
    height: 35px;
    border: none;
    width: 100%;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 20px;

}

.localizacao {
    padding-top: 100px;
    padding-bottom: 20px;
}

.localizacao p {
    text-align: justify;
}

.localizacao h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #580e0e;
}

.localizacao h3 {
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

.mapa {
    margin: 20px;
}

.area-local {
    border-bottom: 3px solid #000000;
    padding-bottom: 15px;
    padding-top: 15px;
}

@media (min-width: 992px) {
    .area-local {
        height: 75vh;
    }
}

.icone {
    width: 50px;
    height: 50px;
}

.area-contato {
    border-right: 2px solid #000000;
}

@media (min-width: 992px) {
    .area-contato {
        min-height: 62vh;
    }

}

.subtitulo {
    text-align: left;
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
}

.titulo {
    margin-top: 15px;
}

.texto {
    padding: 15px;
    line-height: 20px;
    font-size: 15px;
}


.textarea-padrao {
    width: calc(100% - 30px);
    resize: none;
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 5px 8px;
    background-color: #f5f5f5;
}

.trabalhe {
    padding: 25px 0;
}

@media (min-width: 992px) {
    .trabalhe {
        min-height: 58.5vh;
    }
}

.programacao {
    padding: 50px 0;
}

.programacao h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #580e0e;
    padding: 18px;
    margin-top: 35px;

}

.prog-cartazes {
    display: flex;
    justify-content: center;
    z-index: -1;
    margin-bottom: 20px;
}

.prog-cartazes img {
    width: 125px;
    height: 190px;
}

.datas {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0 25px;
}

.dia-data {
    font-size: 18px;
    font-weight: 600;
    padding: 6px 8px 0;
    margin-left: 8px;
    margin-bottom: 5px;
    border-bottom: 2px solid #580e0e;
    color: #666;
    cursor: pointer;
}

.dia-data:hover {
    color: #666;
    text-decoration: none;
    background-color: #f4f4f4;
}

.dia-data.active {
    font-weight: bold;
    border-bottom-width: 4px;
    font-size: 22px;
    margin-right: 8px;
    background-color: #f3f3f3;
    border-radius: 3px 3px 0 0;
}

li {
    list-style: none;
}

.list-prog {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #dedede;
    padding: 5px 8px 8px;
}

.titulo-filme {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.titulo-filme:hover {
    color: #333;
}

.dimensao-filme {
    padding: 3px;
    border: 1px dashed black;
    border-radius: 3px;
    font-weight: 500;
    color: #696969;
    width: 30px;
    margin: 0 10px;
    text-align: center;
}

.audio-filme {
    font-size: 13px;
    padding: 5px 4px;
    background-color: #dedede;
    border-radius: 4px;
    text-align: center;
}

.sala-filme {
    text-align: center;
}

.horario-filme a {
    cursor: default;
}

.clas {
    border-radius: 50%;
    border: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 7px;
    margin: 0 8px;
}

.clas.livre {
    background-color: green;
}

.clas.dez {
    background-color: turquoise;
}

.clas.doze {
    background-color: yellow;
}

.clas.catorze {
    background-color: orange;
}

.clas.dezesseis {
    background-color: red;
}

.clas.dezoito {
    background-color: black;
}

.duvida {
    float: left;
}

.sec-filme {
    padding: 100px 0;
}

.sec-filme h2 {
    color: #580e0e;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;

}

.sec-filme p {
    font-size: 15px;
    font-weight: bold;
}

.iframe {
    padding: 30px;
}

.area-rede-social {
    border-right: 2px solid #000000;
}

@media (min-width: 992px) {
    .area-rede-social {
        height: 63vh;
    }
}

.localize {
    align-items: flex-start;
}

.localize a {
    line-height: 20px;
}

@media (min-width: 992px) {
    .localize {
        height: 54vh;
    }
}

@media (min-width: 992px) {
    .fale {
        height: 60vh;
    }
}

@media (min-width: 992px) {
    .sec-cadastro {
        min-height: 82vh;
    }
}

.cadastre-se {
    display: block;
    padding-top: 6px;
    text-align: center;
    justify-content: center;
}

.menu-mobile,
.menu-mobile:before,
.menu-mobile:after {
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 1px;
    position: absolute;
    right: 0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.267);
}

.menu-mobile {
    margin-top: px;
}

.menu-mobile:before {
    top: 8px;
}

.menu-mobile:after {
    bottom: 8px;
}

.logo-nav {
    width: 115px;
}

.clas-mobi {
    align-items: center;
    justify-content: space-between;
}

.datas select {
    height: 38px;
    padding: 5px;
    border-radius: 3px;
}

@media screen and (max-width: 991px) {
    .name-user {
        display: none;
    }

    .logo-nav {
        height: 48px;
    }

    .area-login {
        top: 60px;
        padding: 8px 15px;
    }

    .area-login .btn {
        margin-top: 15px;
    }

    .sec-banners {
        padding-top: 68px;
    }

    #menu-navbar {
        display: none;
        position: absolute;
        top: 65px;
        background-color: #580e0e;
        right: -15px;
        left: -15px;
        padding-left: 20px;
        padding-right: 15px;
    }

    .registro {
        margin-right: 30px;
        justify-content: flex-end;
    }

    .navbar-nav {
        width: auto;
    }

    .menu li {
        padding: 8px 12px;
        text-align: right;
        align-items: center;
        border-bottom: 1px solid white;
    }

    .nav-item {
        position: relative;
    }

    .dropdown {
        left: -20px;
        right: -15px;
        bottom: -1px;
        position: absolute;
    }

    .dropdown-content {
        min-width: auto;
        width: 100%;
        background-color: #580e0ee8;
        padding: 0px 15px 5px 30px;
    }

    .link-drop {
        border-bottom: 1px solid white;
    }

    .nav-item.drop:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #fff;
        right: 2px;
    }

    .carousel-caption {
        max-height: 100%;
        bottom: 0px;
    }

    .carousel-caption h2 {
        font-size: 1.0rem;
    }

    .carousel-caption h3 {
        font-size: 0.7rem;
    }

    .carousel-indicators {
        bottom: -5px;
    }

    .sec-promocao .sinopse {
        display: block;
        min-height: 100px;
        padding: 12px 8px;
    }

    .sec-banners img {
        height: 155px;
        max-height: 100%;
        object-fit: fill;
    }

    .area-rede-social {
        border-right: none;
    }

    .area-rede-social p {
        text-align: center;
    }

    .strong {
        width: 100%;
        text-align: center;
        display: block;
    }

    .area p {
        text-align: center;
        padding-bottom: 15px;
    }

    .procon {
        max-width: 100%;
    }

    .textarea-padrao {
        width: 100%;
    }

    .titulo-filme,
    .audio-filme,
    .dimensao-filme {
        margin-bottom: 8px;
    }

    .titulo-filme {
        text-align: center;
    }

    .clas-mobi {
        justify-content: center;
    }

    .sec-promocao {
        min-height: auto;
    }

    .area-rede-social .icone {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 992px) {
    .menu-mobile {
        display: none;
    }

    .menu-footer {
        align-items: center;
        justify-content: space-between;

    }
}

@media (min-width: 992px) {
    .localizacao.min {
        min-height: 87vh;
    }
}

@media (min-width: 992px) {
    .programacao.min {
        min-height: 87vh;
    }
}

@media (min-width: 992px) {
    .sec-cadastro.min {
        min-height: 87vh;
    }
}