.cabecalho {
    background-color: aqua;
    text-align: center;
    width: 100%;
    height: 210px;
}

.esquerda {
    background-color: rgb(167, 167, 212);
    text-align: center;
    float: left;
    width: 30%;
    height: 600px;
}
.direita {
    background-color: rgb(121, 206, 194);
    text-align: center;
    float: right;
    width: 30%;
    height: 600px;
}
.central{
    background-color: rgb(199, 219, 127);
    text-align: center;
    width: 100%;
    height: 600px;
    vertical-align: bottom;
}
.rodape {
    background-color: darkseagreen;
    text-align: center;
    width: 100%;
    height: 200px;
}

.formatacao{
    text-align: center;
}

.texto{
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
}

.a{
    padding: 250px;
}

.form{
    text-align: center;
    line-height: 1.5px;
}
