form{
    margin-left: 600px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-style: italic, inherit;
    text-align: center;
}

label{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: normal;
    text-align: center;
    line-height: 40px;

}

.button{

    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-style: italic, inherit;
}